div {
    display: flex;
}

.product-item {
    flex-direction: column;
    font-weight: bold; 
    border: 2px solid #8B0000; 
    margin-right: 10px; 
    text-align: center;
  
}
h3 {
    text-transform: uppercase; 
    color: #2F4F4F;
    margin-bottom: 15px;
}

p {
    font-style: italic; 
    color: #B22222;
    margin-top: 5px;
}

.by-btn {
    background-color: #B22222; 
    color: white;
    height: 30px;
}

.by-btn:hover {
    background-color: white; 
    color: #B22222;
}